# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# VSCode settings
.vscode/

# Model weights
*.npz
*.ckpt

# Logs, outputs
*.log
*.out

# Environment files
.env
*.env

# OS-specific
.DS_Store
Thumbs.db